# Servidor Backend Express
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Clave Secreta para Tokens JWT de Sesión
JWT_SECRET=super-secreto-jwt-llave-recetario-2026

# Parámetros Individuales de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_contrasena_postgres
DB_NAME=recetario_db

# Cadena de Conexión Unificada de PostgreSQL para Prisma ORM
DATABASE_URL="postgresql://postgres:tu_contrasena_postgres@localhost:5432/recetario_db?schema=public"
